p {
    padding: 10px;
}


label {
    display: block;
    float: left;
    width: 300px;
}

form {
    margin: 15px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    padding: 20px;
}

fieldset {
    margin-left: 30px;
    width: 80%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

legend {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
    border-color: #CCCCCC;
    border-left-style: solid;
    border-right-style: solid;
    font-size: 1.2em;
    color: #999999;
    margin-left: 10px;
}

label {
    font-weight: bold;
}

form#formulaire .input {
    background-color: #EEEEEE;
    border-style: inset;
    border-width: 2px;
}

input.boutons {
    margin-left: 400px;
    border-width: 2px;
    border-style: outset;
    padding: 3px;
}

select {
    border-width: 2px;
    background-color: #DDDDDD;
    border-style: outset;
    padding: 3px;
}

.error {
    color: #FF0000;
}
